<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="documentContent">
            <h2><span jhiTranslate="testApp.documentContent.detail.title">Document Content</span> {{documentContent.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="testApp.documentContent.data">Data</span></dt>
                <dd>
                    <div *ngIf="documentContent.data">
                        <a (click)="openFile(documentContent.dataContentType, documentContent.data)" jhiTranslate="entity.action.open">open</a>
                        {{documentContent.dataContentType}}, {{byteSize(documentContent.data)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/document-content', documentContent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
